@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-line-sync {
  0% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes scroll-text-sync {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-40px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-scroll-line-sync {
  animation: scroll-line-sync 2.4s ease-in-out infinite;
}

.animate-scroll-text-sync {
  animation: scroll-text-sync 2.4s ease-in-out infinite;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 1.2 ease-out;
}

.section-visible {
  animation: fadeUp 0.8s ease-out forwards;
}

.h3-with-line {
  position: relative;
  padding-left: 80px;
  display: inline-block;
}

.h3-with-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 3px;
  width: 0; /* start: linia niewidoczna */
  background-color: red;
  transform: translateY(-50%);
  border-radius: 2px;
  transition: width 2s ease-out; /* animacja */
}

/* Gdy sekcja jest widoczna */
.section-visible .h3-with-line::before {
  width: 70px; /* końcowa długość */
}

html {
  scroll-behavior: smooth;
}

.flip-card {
  perspective: 1000px;
}

.flip-inner {
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.flip-card:hover .flip-inner {
  transform: rotateX(180deg);
}

.flip-front,
.flip-back {
  backface-visibility: hidden;
  position: absolute;
  inset: 0;
}

.flip-back {
  transform: rotateX(180deg);
}
